@import 'fonts.scss';
@import 'mixin.scss';
@import 'null.scss';


.container {
      max-width: 1150px;
      margin: 0 auto;
}

.button {
      display: inline-flex;
      height: 45px;
      width: 200px;
      justify-content: center;
      background-color: $color-btn;
      align-items: center;
      border-radius: 30px;
      font-size: $fn-s;
      color: white;
      font-family: $font-medium;
      transition: $time;
            &:hover{
                  background-color: black;
                  
            }
}

@include media(large){
      .container {
            padding: 0 15px;
      }
}
