//===== variables ========

$fn-xs: 14px;
$fn-s: 16px;
$fn-m: 18px;
$fn-l: 36px;
$fn-xl: 48px;

$color-btn:#4985FF;
$color-bg-all-sevises:#6013D1;
$color-white: #999999;
$color-bg-about: #F6F6F8;

$font-regular: "MontserratRegular";
$font-medium: "MontserratMedium";
$font-bold:"MontserratBold";
$font-extraBold: "MontserratExtra-bold";

$time: 0.6s;
//===== variables ========


//===== mixins ===========//

@mixin media($breakPoint) {
      @if($breakPoint == large) {
            @media(max-width: 1000px){
                  @content;
            }
      }
      @if($breakPoint == medium) {
            @media(max-width: 750px){
                  @content;
            }
      }
      @if($breakPoint == mediumSmall) {
            @media(max-width: 600px){
                  @content;
            }
      }
      @if($breakPoint == small) {
            @media(max-width: 600px){
                  @content;
            }
      }
      @if($breakPoint == verySmall) {
            @media(max-width: 520px){
                  @content;
            }
      }
}

//===== mixins ===========//