@import 'global';

.our-project {

      background-color: $color-bg-about;
      box-sizing: border-box;
      padding-top: 100px;
      padding-bottom: 130px;
   
      &__title {
            text-align: center;
      }
      &__title-h2 {
            font-size: $fn-l;
            font-family: $font-bold;
      }
      &__title-text {
            font-family: $font-regular;
            font-size: $fn-s;
            line-height: 25px;
            text-align: center;
            max-width: 700px;
            display: inline-block;
            color: #999999;
      }
      &__image {
            margin-top: 70px;
            display: flex;
            justify-content: space-between;
                  div{
                        width: 255px;
                        margin: 0 15px;
                        min-width: 220px;
                  }
      }

      &__button {
            display: flex;
            justify-content: center;
            margin-top: 55px;
      }

      @include media(large){
            &__image {
                  
                  display: flex;
                  flex-flow: row wrap;
                  justify-content: space-evenly;
                        div {
                              width: 40%;
                              margin-bottom: 40px;
                        }
            }
      }
      
      @include media(medium){
          padding-bottom: 90x;
      }
      @include media(verySmall) {
            margin-top: 305px;
            padding-top: 50px;
      }
      

}


